<body>
    <h1>First Names</h1>
    <ul>
        {{#each names}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <form action="/add-name" method="GET">
        <button type="submit">Add Name</button>
    </form>
</body>